* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.card {
  width: 30%;
  float: left;
  border: solid;
  margin: 10px;
}

.heading {
  width: 60px;
  float: right;
  border-style: none none solid solid;
  text-align: center;
}

.content {
  clear: both;
}

h2 {
  font-size: 0.875em;
}
