* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  border: solid;
  margin-right: auto;
  margin-left: auto;
  background-color: #999999;
}

.col-lg-4 {
  width: 33.33%;
}

.heading {
  width: 30%;
  float: right;
  border-style: none none solid solid;
  text-align: center;
}

.content {
  clear: both;
}

h2 {
  font-size: 0.875em;
}

p {
  padding: 10px;
}

#chicken {
  background-color: #D59898;
}

#beef {
  background-color: #C14543;
}

#sushi {
  background-color: #E5D198;
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}
