* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.card {
  width: 30%;
  float: left;
  border: solid;
  margin: 20px;
  background-color: #999999;
}

.heading {
  width: 30%;
  float: right;
  border-style: none none solid solid;
  text-align: center;
}

.content {
  clear: both;
}

h2 {
  font-size: 0.875em;
}

p {
  padding: 10px;
}

#chicken {
  background-color: #D59898;
}

#beef {
  background-color: #C14543;
}

#sushi {
  background-color: #E5D198;
}
